/// C-Shop Font Family
/// Josefin Sans Light
/// @type List
$text-font-light-cshop: 'Josefin Sans Light';
/// Josefin Sans Regular
/// @type List
$text-font-regular-cshop: 'Josefin Sans Regular';
/// Josefin Sans Bold
/// @type List
$text-font-bold-cshop: 'Josefin Sans Bold';

/// cshop Font Size
$header-1: (xxl: 54px, xl: 54px, xs: 36px);
$header-2: (xxl: 40px, xl: 48px, xs: 32px);
$header-3: (xxl: 32px, xl: 32px, xs: 28px);
$paragraph-1: (xxl: 22px, xl: 20px, xs: 14px);
$paragraph-2: (xxl: 16px, xl: 16px, xs: 14px);
$paragraph-3: (xxl: 14px, xl: 14px, xs: 14px);
$caption: (xxl: 12px, xl: 10px, xs: 8px);

/// cshop Colors
/// @type Color
$primary-cshop: #E9155F !default;
$primary-50-cshop: #F786AE !default;
$primary-25-cshop: #FDD0E0 !default;
$secondary-cshop: #2659FB !default;
$secondary-50-cshop: #9FB6FF !default;
$secondary-25-cshop: #D9E2FF !default;
$grey-cshop: #ECF0F4 !default;
$grey-50-cshop: #F5F7F9 !default;
$grey-25-cshop: #BDC0C7 !default;
$dark-cshop: #141726 !default;
$dark-50-cshop: #858B9D !default;
$dark-25-cshop: #BCC0C7 !default;
$white-cshop: #FFFFFF !default;
$black-cshop: #000000 !default;
$danger-cshop: #DC3545 !default;

$colors: () !default;
$colors: map-merge((
  "primary-cshop": $primary-cshop,
  "primary-50-cshop": $primary-50-cshop,
  "primary-25-cshop": $primary-25-cshop,
  "secondary-cshop": $secondary-cshop,
  "secondary-50-cshop": $secondary-50-cshop,
  "secondary-25-cshop": $secondary-25-cshop,
  "grey-cshop": $grey-cshop,
  "grey-50-cshop": $grey-50-cshop,
  "dark-cshop": $dark-cshop,
  "dark-50-cshop": $dark-50-cshop,
  "dark-25-cshop": $dark-25-cshop,
  "white-cshop": $white-cshop,
  "black-cshop": $black-cshop,
), $colors);


$breakpoints: (phone: 640px,
  tablet: 768px,
  desktop: 1024px) !default;


// Grid Breakpoints
$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px,
  // Extra extra large screen / 4K
  xxl: 1440px
);

$sizes: ('xs', 'sm', 'md', 'lg', 'xl', 'xxl')
