// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

/**
 * Set up the corresponding fonts
 */
@font-face {
  font-family: $text-font-light-cshop;
  src: url('assets/fonts/JosefinSans-Thin.ttf');
}
@font-face {
  font-family: $text-font-regular-cshop;
  src: url('assets/fonts/JosefinSans-Regular.ttf');
}
@font-face {
  font-family: $text-font-bold-cshop;
  src: url('assets/fonts/JosefinSans-Bold.ttf');
}
